.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width:100%;
    max-width: 800px;
    margin: 100px auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #333;
}

.face { 
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; 
    position: absolute;
    border: 2px solid rgb(179, 28, 28);
    border-radius: 5px;
}

.front {
    
    transform: rotateY(180deg)
    
}

.back {
    background-image:url(../src/imagens/Rare\ Gallery\ wallpaper.jpeg);
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}