@media(max-width: 900px ){

   header {
    padding: 15px;
   }

   span {
    font-size: 1.4em;
   }

   .timer {
    font-size: 0.9em;
   }

}

@media (max-width: 600px){
    hearder {
        padding: 10px;
    }

    span {
        font-size: 1em;
    }
}

@media (max-width: 350px){
    hearder {
        padding: 5px;
    }

    span {
        font-size: 0.7em;
    }
}